/*----------  GLOBAL VARS  ----------*/
@import "bootstrap-config"; // bootstrap overrides
@import "mixins";

// Variables
$main1: #0A2240;
$main2: #E5325B;
$darkblue: #0C2C54;
$lightblue: #0048BC;
$hoover1: #EA5A7B;
$hovver2: #F0F6FD;
$lightText: #B1BED3;
$lightText2: #C4D5EF;
$lightbg: #F8FAFD;
$skewBg: #EDF1F7;
$darkBg: #E2E7EB;
$footerText: #A5B6D1;

$btn-shadow: 0px 5px 15px #00000029;

